<!--add more info ////////////////////////////////////////////////////////////////-->
<div class="dimmer"></div>
<div class="formForAddMoreInfo">
    <div class="addNewContactTitle">
        Add New Contact
    </div>
    <!--<div class="close" ng-click="closeThisDialog()"></div>-->
    <!--<div class="blockForAddPhoto">-->
        <!--<div class="addPhoto"></div>-->
    <!--</div>-->
    <div class="contactData">
        <div class="title"> Change Name</div>
        <div class="nameContact">
                <div class="marginTop5">NAME</div>
            <input type="text" class="marginTop5" ng-model="contact.contactName" name="contactName" placeholder="Paul Weber">
        </div>
        <div class="buttons">
            <div class="ok" ng-click="closeLastOpenedDialog()">Ok</div>
        </div>
    </div>
</div>